.panel {
    background: blue;
    width: 200px;
    height: 150px;
    margin: 15px;

    color: white;
    font-weight: bold;
    font-size: 2em;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-widget {
}